<igx-dialog #registrationForm
            title="Register"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="registrationForm.close()"
            (onRightButtonSelect)="createUser()"
            rightButtonLabel="Register"
            (onClose)="closeDialog(registrationForm)"
            closeOnOutsideSelect="true">
  <div class="igx-form-group">
    <input type="email" igxInput [(ngModel)]="email"/>
    <label igxLabel>Email</label>
  </div>
  <div class="igx-form-group">
    <input type="text" igxInput [(ngModel)]="password"/>
    <label igxLabel>Password</label>
  </div>


</igx-dialog>

<igx-dialog #loginForm
            title="Sign In"
            leftButtonLabel="Cancel"
            (onLeftButtonSelect)="loginForm.close()"
            (onRightButtonSelect)="basicLogin()"
            rightButtonLabel="Sign In"
            (onClose)="closeDialog(loginForm)"
            closeOnOutsideSelect="true">
  <div class="igx-form-group">
    <input type="email" igxInput [(ngModel)]="email"/>
    <label igxLabel>Email</label>
  </div>
  <div class="igx-form-group">
    <input type="text" igxInput [(ngModel)]="password"/>
    <label igxLabel>Password</label>
  </div>

  <div (click)="openRegisterForm()" style="width: 100%" class="open-register-btn" igxButton="raised" igxButtonBackground="#d0d0d0">You do not have an account?</div>

  <div (click)="googleLogin()" style="width: 100%" class="google-login-btn" igxButton="raised" igxButtonBackground="red"><img src="../../../assets/google-plus-icon.png" alt="google plus icon"/> Sign in with Google Plus</div>

</igx-dialog>
