<form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()" class="lawyer-profile-form">
  <igx-card>
    <igx-card-header>
      <h3>Personal Info:
        <small>{{lawyer.email}}</small>
      </h3>
    </igx-card-header>
    <igx-card-content>
      <div>
        <div class="photo-uploader-container">
          <label class="photo-uploader-label" for="photo-uploader"
                 [style.backgroundImage]="'url('+ (lawyer.photoURL || '../../../assets/default-profile.jpg') +')'">
            <igx-icon fontSet="material" name="open_in_new"></igx-icon>
          </label>
          <input id="photo-uploader" type="file" class="d-none" (change)="onImageChange($event)"/>
        </div>

        <div class="personal-info-container">
          <div class="igx-form-group">
            <input igxInput formControlName="displayName" type="text" name="displayName" id="displayName"
                   required="required"/>
            <label igxLabel for="displayName">Display Name*</label>
          </div>

          <div class="igx-form-group">
            <input igxInput formControlName="phoneNumber" type="number" name="phoneNumber" id="phoneNumber"
                   required="required"/>
            <label igxLabel for="phoneNumber">Phone Number*</label>
          </div>
        </div>

        <div class="chart-container">
          <canvas baseChart
                  [data]="[lawyer.wins, lawyer.loses]"
                  [labels]="['Wins', 'Loses']"
                  [chartType]="'doughnut'"
          ></canvas>
        </div>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <button [disabled]="!myForm.valid" type="submit" igxButton="raised">Update</button>
    </igx-card-actions>
  </igx-card>
</form>

<igx-toast #toast message="Successfully updated!"></igx-toast>
