<igx-navbar title="Judge Me!"
            actionButtonIcon="home"
            (onAction)="navigateToHome()"
>
  <span igxButton="flat" [routerLink]="['']">Cases</span>
  <span igxButton="flat" [routerLink]="['/lawyers']">Lawyers</span>

  <div *ngIf="afAuth.authState | async; else showLogin">
    <span (click)="goToMyProfile()">Hello {{ loggedUserData.displayName  || loggedUserData.email}}!</span>
    <span igxButton="raised" (click)="logout()">Logout</span>
  </div>

  <ng-template #showLogin>
    <span igxButton="raised" (click)="showLoginDialog()">Sign In</span>
  </ng-template>
</igx-navbar>

<router-outlet></router-outlet>

<app-login-component #loginDialog></app-login-component>
