.d-none {
  display: none;
}

.cpointer {
  cursor: pointer;
}

igx-nav-drawer {
  position: fixed;
  right: 0;
  top: 60px;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  color: #383838;
  max-height: 48px;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: transparent;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-item.header {
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 400;
  cursor: auto;
}

.nav-item.header:hover {
  background-color: transparent;
}

.ig-nav-drawer.collapsed {
  -webkit-transform: translate(300px) !important;
  -moz-transform: translate(300px) !important;
  -ms-transform: translate(300px) !important;
  -o-transform: translate(300px) !important;
  transform: translate(300px) !important;
}

.ig-nav-drawer-overlay {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: -300px !important;
  right: 0 !important;
  bottom: 0 !important;
}

.ig-nav-drawer-overlay.hidden {
  display: none !important;
}

.ig-nav-drawer {
  width: 300px !important;
}
